@import "tailwindcss";

html, body {
  background-color: #ffffff !important;
  color-scheme: only light;
  supported-color-schemes: light;
  --apple-system-interface-style: light;
}

:root {
  /* font variable will be provided by next/font (Inter) and injected on <html> */
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ED1E79;
  --color-blue: #0649B5;
  --color-magenta: #9E005D;
  --color-cyan: #29ABE2;
  --color-neutral-900: #0b1220;
  --color-neutral-700: #374151;
  --color-neutral-500: #6B7280;
  --color-neutral-300: #D1D5DB;
  --color-neutral-100: #F3F4F6;
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-primary: var(--color-primary);
  --color-blue: var(--color-blue);
  --color-magenta: var(--color-magenta);
  --color-cyan: var(--color-cyan);
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-100: var(--color-neutral-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



html, body {
  background-color: #ffffff !important;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
